/*stylesheet*/

//bring in external style, mixins, and grid layout
@import 'normalize';
@import 'bourbon';
@import 'neat';

//media query variables
$phone: 'min-width: 375px';
$tablet: 'min-width: 768px';
$desktop: 'min-width: 1024px';

//style variables
$fontFamily: 'Arimo', sans-serif;
$mainColor: #008593;
$secondaryColor: #c1de73;
$textColor: #222;
$linkColor: #d96732;

* {
  box-sizing: border-box;
}

body {

}

.header {
  background-color: $secondaryColor;
}

.header__nav {
  display: inline-block;
  
}

.header__nav-list {
  list-style-type: none;
  padding: 0 0.6rem;
  
  .header__nav-list--item {
  font-family: $fontFamily;
  color: $textColor;
  text-decoration: none;
  cursor: pointer;
    &:hover {
      color: $linkColor;
      text-decoration: none;
    }
  }
}

.header__title {
  display: inline-block;
  text-align: center;
  .header__title-text {
    font-family: $fontFamily;
    margin: 0;
  }
}

.main__features {
  background-color: $mainColor;
}

.main__features-list--item-img {
  max-width: 100%;
  height: auto;
  padding: 0 10px;
}
